:root {
  /* Light Mode Colors */
  --bg-color: #ffffff;
  --text-color: #222222;
  --nav-bg: #f4f4f4;
  --accent-color: #00d1b2;
}

[data-theme='dark'] {
  /* Dark Mode Colors */
  --bg-color: #121212;
  --text-color: #ffffff;
  --nav-bg: #1e1e1e;
  --accent-color: #00ffcc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease; /* Για απαλή αλλαγή χρωμάτων */
  margin: 0;
}